<div class="deposit-form">
  <div class="small-11 small-centered columns">
    <div class="header-text">
      <p class="title-text">Sign Up</p>
      <p class="sub-title">Create a free account</p>
    </div>
    <!-- {{amount-slider amounts=amounts currentSelection=amount changedSelection='changedSelection'}} -->

    <form class="cc-form" {{action 'createAccount' on='submit'}}>

      {{#liquid-if creditCardErrors}}
        <p class="alert">{{creditCardErrors}}</p>
      {{/liquid-if}}
      {{#liquid-if cardSaved}}
        <p class="alert">Card verified</p>
      {{/liquid-if}}

      <div class="row">
        <div class="small-12 medium-6 columns inline-block">
          {{input value=name placeholder="Name" required=true class="input-field"}}
        </div>

        <div class="small-12 medium-6 columns inline-block">
          {{phone-number value=number placeholder="Phone number" required=true class="input-field"}}
        </div>

        <div class="small-12 medium-6 columns inline-block">
          {{input value=email placeholder="Email" required=true class="input-field"}}
        </div>

        <div class="small-12 medium-6 columns inline-block">
          {{input value=company placeholder="Company" required=true class="input-field"}}
        </div>

      </div>
      <button type="submit" class="submit-button" disabled={{stripeIsProcessing}}>Save</button>
    </form>
  </div>
</div>
