<div class="deposit-form">
  <div class="small-11 small-centered columns">
    <!-- {{amount-slider amounts=amounts currentSelection=amount changedSelection='changedSelection'}} -->

    <form class="cc-form" {{action 'createAccount' on='submit'}}>

      {{#liquid-if creditCardErrors}}
        <p class="alert">{{creditCardErrors}}</p>
      {{/liquid-if}}
      {{#liquid-if cardSaved}}
      <div class="alert"><p class="text-alert">Account created</p></div>
      {{/liquid-if}}

      <div class="row">
        <div class="small-6 columns inline-block">
          <p class="input-header">FIRST NAME</p>
          {{input value=firstName required=true class="input-field"}}
        </div>
        <div class="small-6 columns inline-block">
          <p class="input-header">LAST NAME</p>
          {{input value=lastName required=true class="input-field"}}
        </div>
        <!-- <div class="small-12 medium-6 columns inline-block">
          {{input value=lastName placeholder="Last Name" required=true class="input-field"}}
        </div> -->

        <div class="small-12 columns inline-block">
          <p class="input-header">WORK EMAIL ADDRESS</p>
          {{input value=email required=true class="input-field"}}
        </div>

        <div class="small-12 columns inline-block">
          <p class="input-header">COMANY NAME</p>
          {{input value=company class="input-field"}}
        </div>

        <div class="small-12 columns inline-block">
          <p class="input-header">PHONE NUMBER</p>
          {{phone-number value=phone type="tel" class="input-field"}}
        </div>

        <div class="small-12 columns inline-block">
          <p class="input-header">PASSWORD</p>
          {{input value=password type="password" class="input-field"}}
        </div>
        <div class="small-12 columns inline-block">
          {{input checked=checkbox type="checkbox" required=true}}
          <span class="conditions"> I have read and agree to the <span class="link">Terms and Conditions.</span></span>
        </div>
        <div class="small-4 columns float-left">
          <div type="submit" class="submit-button" disabled={{stripeIsProcessing}}>Register</div>
        </div>
      </div>


    </form>
  </div>
</div>
